<app-index-navbar></app-index-navbar>
<main>
    <div *ngIf="course" class="relative isolate overflow-hidden bg-gray-900 py-16">
        <img src="../../../assets/img/course.jpg" alt=""
            class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
        <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
            aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>
        <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
            aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
                style="clip-path: polygon(74.1% 
                44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0 text-center">
                <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{course.title}}</h2>
                <p class="mt-6 text-lg leading-8 text-gray-300">{{course.shortDescription}}</p>
            </div>

            <div class="flex items-center justify-center mt-4">
                <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <title>Rating star</title>
                    <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                    </path>
                </svg>
                <p class="ml-2 text-sm font-bold text-gray-900 dark:text-white">{{ rating | number : '1.2-2' }}</p>
                <span class="w-1 h-1 mx-1.5 bg-gray-500 rounded-full dark:bg-gray-400"></span>
                <a class="text-sm font-medium text-gray-900 underline hover:no-underline dark:text-white">{{reviewsCount}}
                    reviews</a>
            </div>

            <div class="mx-auto mt-5 max-w-2xl lg:mx-0 lg:max-w-none">

                <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
                    <div class="flex flex-col">
                        <dt class="text-base leading-7 text-gray-300">Skill level</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">{{level[course.level]}}</dd>
                    </div>
                    <div class="flex flex-col">
                        <dt class="text-base leading-7 text-gray-300">Time to complete</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">About {{30}} hours</dd>
                    </div>
                    <div class="flex flex-col">
                        <dt class="text-base leading-7 text-gray-300">Prerequisites</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">{{course.prerequisites}}</dd>
                    </div>
                    <div class="flex flex-col">
                        <dt class="text-base leading-7 text-gray-300">Subject</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">{{subject[course.subject]}}
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="flex max-w-2xl mx-auto justify-center rounded mt-10">
                <button
                    class="bg-red-600 active:bg-red-700 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none my-3 ease-linear transition-all duration-150"
                    type="button" (click)="startCourse()" *ngIf="authService.currentUser$ | async">
                    Start
                </button>
            </div>
        </div>
    </div>

    <div class="flex flex-row" *ngIf="course">
        <div class="max-w-4xl mx-auto bg-white p-16 pb-0 rounded">
            <h2 class="text-4xl mb-4 font-bold">About this course</h2>
            <p class="mb-3 text-gray-500 dark:text-gray-400">{{course.longDescription}}</p>
        </div>

        <div class="max-w-2xl mx-auto bg-white p-16 pb-0 rounded">
            <h2 class="text-4xl mb-4 font-bold">Skills you'll gain</h2>
            <ul class="mb-8 space-y-4 text-left">
                <li *ngFor="let skill of course?.skillsToGain" class="flex items-center space-x-3">
                    <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span>{{skill}}</span>
                </li>
            </ul>
        </div>
    </div>


    <div class="max-w-5xl mx-auto bg-white p-16 rounded">
        <h2 class="text-4xl mb-4 font-bold">What you'll learn</h2>
        <ul role="list" class="divide-y divide-gray-100">
            <li *ngFor="let chapter of course?.chapters" class="flex justify-between">
                <div class="flex gap-x-4 my-3">
                    <div class="min-w-0 flex-auto">
                        <p class="text-sm font-semibold leading-6 text-gray-900">{{chapter.title}}</p>
                    </div>
                </div>
                <div class="hidden sm:flex sm:flex-col sm:items-end my-3">
                    <p class="text-sm leading-6 text-gray-900">{{chapter.lessons.length}} lesson{{chapter.lessons.length
                        === 1 ? "" : "s"}}</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="max-w-5xl mx-auto bg-white p-16 pt-0 rounded">
        <h2 class="text-4xl mb-4 font-bold">Frequently asked questions</h2>
        <ul role="list" class="divide-y divide-gray-100">
            <li *ngFor="let faq of course?.faqs" class="flex justify-between gap-x-6">
                <div class="flex gap-x-4">
                    <div class="min-w-0 flex-auto">
                        <p class="mb-3 font-semibold text-gray-900 mt-3">{{faq.question}}</p>
                        <p class="mb-3 text-gray-500 ">{{faq.answer}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="max-w-5xl mx-auto bg-white p-16 pt-0 rounded">
        <h2 class="text-4xl font-bold">About the author</h2>
        <p>bla bla bla</p>
    </div>
</main>
<app-footer></app-footer>