<app-index-navbar></app-index-navbar>
<main>
    <div *ngIf="course" class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
        <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply"
            alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
        <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
            aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>
        <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
            aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
                style="clip-path: polygon(74.1% 
                44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{course.title}}</h2>
                <p class="mt-6 text-lg leading-8 text-gray-300">{{course.shortDescription}}</p>
            </div>
            <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
                <div
                    class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
                    <p>Rating</p>
                </div>
                <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
                    <div class="flex flex-col">
                        <dt class="text-base leading-7 text-gray-300">Skill level</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">{{level[course.level]}}</dd>
                    </div>
                    <div class="flex flex-col">
                        <dt class="text-base leading-7 text-gray-300">Time to complete</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">About {{30}} hours</dd>
                    </div>
                    <div class="flex flex-col">
                        <dt class="text-base leading-7 text-gray-300">Prerequisites</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">{{course.prerequisites}}</dd>
                    </div>
                    <div class="flex flex-col">
                        <dt class="text-base leading-7 text-gray-300">Subject</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight text-white">{{subject[course.subject]}}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>

    <div class="max-w-2xl mx-auto bg-white p-16 rounded">
        <h2 class="text-4xl font-extrabold">About this course</h2>
        <p class="mb-3 text-gray-500 dark:text-gray-400">{{course.longDescription}}</p>
    </div>

    <div class="max-w-2xl mx-auto bg-white p-16 rounded">
        <ul class="mb-8 space-y-4 text-left text-gray-500 dark:text-gray-400">
            <h2 class="text-4xl font-extrabold">Skills you'll gain</h2>
            <li *ngFor="let skill of course?.skillsToGain" class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor"
                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"></path>
                </svg>
                <span>{{skill}}</span>
            </li>
        </ul>

    </div>

    <div class="max-w-2xl mx-auto bg-white p-16 rounded">
        <ul role="list" class="divide-y divide-gray-100">
            <li *ngFor="let chapter of course?.chapters" class="flex justify-between gap-x-6 py-5">
                <div class="flex gap-x-4">
                    <div class="min-w-0 flex-auto">
                        <p class="text-sm font-semibold leading-6 text-gray-900">{{chapter.title}}</p>
                        <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{chapter.description}}</p>
                    </div>
                </div>
                <div class="hidden sm:flex sm:flex-col sm:items-end">
                    <p class="text-sm leading-6 text-gray-900">{{chapter.lessons.length}} lesson{{chapter.lessons.length
                        === 1 ? "" : "s"}}</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="max-w-2xl mx-auto bg-white p-16 rounded">
        <button type="button"
            class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Start</button>
    </div>

    <div class="max-w-2xl mx-auto bg-white p-16 rounded">
        <div class="accordion" id="accordionExample">
            <div *ngFor="let faq of course?.faqs" class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{faq.question}}
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{faq.answer}}
                </div>
              </div>
            </div>
          </div>
        <ul role="list" class="divide-y divide-gray-100">
            <li *ngFor="let faq of course?.faqs" class="flex justify-between gap-x-6 py-5">
                <div class="flex gap-x-4">
                    <div class="min-w-0 flex-auto">
                        <p class="mb-3 text-gray-500 dark:text-gray-400">{{faq.question}}</p>
                        <p class="mb-3 text-gray-500 dark:text-gray-400">{{faq.answer}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="max-w-2xl mx-auto bg-white p-16 rounded">
        <h2 class="text-4xl font-extrabold">About the author</h2>
        <p>bla bla bla</p>
    </div>
</main>
<app-footer></app-footer>