<app-index-navbar></app-index-navbar>
<main>
    <div class="relative bg-red-600 md:pt-20 pb-20" *ngIf="ongoingCourses.length>0 && authService.getCurrentUser()!.role === 0">
        <h3 class="text-center text-4xl font-semibold leading-normal mb-10 text-white">
            Hop back in...
        </h3>
        <div class="px-4 md:px-10 mx-auto w-full">
            <div>
                <!-- Card stats -->
                <div class="flex flex-wrap justify-center">
                    <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
                        <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
                            <a [href]="'catalog/start/'+courseProgress.courseId" *ngFor="let courseProgress of ongoingCourses">
                                <div class="flex-auto p-4" >
                                    <div class="flex flex-wrap">
                                        <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                            <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                                                {{courseProgress.course.title}}
                                            </h5>
                                            <span class="font-semibold text-xl text-blueGray-700">
                                                {{ongoingLessonData(courseProgress).lessonTitle}}
                                            </span>
                                        </div>
                                        <div class="relative w-auto pl-4 flex-initial">
    
                                        </div>
                                    </div>
                                    <div class="relative pt-1 mt-4">
                                        <div class="flex mb-2 items-center justify-between">
                                            <div>
                                                <span
                                                    class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200">
                                                    Chapter {{ongoingLessonData(courseProgress).chapterNumber}}
                                                </span>
                                            </div>
                                            <div class="text-right">
                                                <span class="text-xs font-semibold inline-block text-red-600">
                                                    {{ calculateProgress(courseProgress)  | number : '1.0-0' }}%
                                                </span>
                                            </div>
                                        </div>
                                        <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-red-200">
                                            <div [style.width.%]="calculateProgress(courseProgress)"
                                                class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>                          
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div class="bg-white mt-20">
            <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex items-baseline justify-between border-b border-gray-200 pb-6">
                    <h1 class="text-4xl font-bold tracking-tight text-gray-900">Choose a course</h1>
                </div>

                <section aria-labelledby="products-heading" class="pb-24 pt-6">
                    <h2 id="products-heading" class="sr-only">Products</h2>

                    <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
                        <form class="hidden lg:block">
                            <h3 class="sr-only">Categories</h3>
                            <ul role="list"
                                class="space-y-4 border-b border-gray-200 pb-6 text-sm font-medium text-gray-900">
                                <li *ngFor="let level of levels">
                                    <a href="#">{{level}}</a>
                                </li>
                            </ul>
                            <ul role="list"
                                class="space-y-4 border-b border-gray-200 py-6 text-sm font-medium text-gray-900">
                                <li *ngFor="let language of languages">
                                    <a href="#">{{language}}</a>
                                </li>
                            </ul>
                            <ul role="list"
                                class="space-y-4 border-b border-gray-200 py-6 text-sm font-medium text-gray-900">
                                <li *ngFor="let subject of subjects">
                                    <a href="#">{{subject}}</a>
                                </li>
                            </ul>
                        </form>

                        <div class="lg:col-span-3">
                            <div
                                class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-4">
                                <div class="group relative" *ngFor="let course of courses">
                                    <a [href]="getUrl(course.id)"
                                        class="block max-w-sm p-6 bg-white border border-gray-600 rounded-lg shadow-2xl border-s-fuchsia-600 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                                            {{course.title}}</h5>
                                        <p class="font-normal text-gray-700">{{course.shortDescription}}</p>
                                        <hr class="h-px mt-8 mb-4 bg-gray-200 border-0 dark:bg-gray-700">
                                        <div class="flex flex-wrap gap-1">
                                            <span
                                                class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 pb-1 px-2.5 py-0.5 rounded-full dark:bg-purple-900 dark:text-purple-300">{{subject[course.subject]}}</span>
                                            <span
                                                class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 pb-1 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300">{{level[course.level]}}</span>
                                            <span
                                                class="bg-green-100 text-green-800 text-xs font-medium mr-2 pb-1 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">{{language[course.language]}}</span>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </main>

    <app-footer></app-footer>
</main>