<!-- Header -->
<div class="relative bg-red-600 md:pt-20 pb-20">
    <h3 class="text-center text-4xl font-semibold leading-normal mb-10 text-white">
        Hop back in...
    </h3>
    <div class="px-4 md:px-10 mx-auto w-full">
      <div>
        <!-- Card stats -->
        <div class="flex flex-wrap justify-center">
          <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
            <app-card
              statSubtitle="TRAFFIC"
              statTitle="350,897"
              statArrow="up"
              statPercent="3.48"
              statPercentColor="text-emerald-500"
              statDescripiron="Since last month"
              statIconName="far fa-chart-bar"
              statIconColor="bg-red-500"
            ></app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  