<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 pt-10 shadow-lg rounded-lg bg-slate-50 border-0">
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <form>
            <div class="relative w-full flex flex-row">
              <div class="relative w-full mb-3 pr-7">
                <label class="block uppercase text-slate-800 text-xs font-bold mb-2" htmlFor="grid-password">
                  First Name
                </label>
                <input name="firstName" type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="First Name" [(ngModel)]="model.firstName" />
              </div>

              <div class="relative w-full mb-3">
                <label class="block uppercase text-slate-800 text-xs font-bold mb-2" htmlFor="grid-password">
                  Last Name
                </label>
                <input name="lastName" type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Last Name" [(ngModel)]="model.lastName" />
              </div>
            </div>

            <div class="relative w-full mb-3">
              <label class="block uppercase text-slate-800 text-xs font-bold mb-2" htmlFor="grid-password">
                Email
              </label>
              <input name="email" type="email"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Email" [(ngModel)]="model.email" />
            </div>

            <div class="relative w-full flex flex-row">
              <div class="relative w-full mb-3 pr-7">
                <label class="block uppercase text-slate-800 text-xs font-bold mb-2" htmlFor="grid-password">
                  Password
                </label>
                <input name="password" type="password"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Password" [(ngModel)]="model.password" />
              </div>
  
              <div class="relative w-full mb-3">
                <label class="block uppercase text-slate-800 text-xs font-bold mb-2" htmlFor="grid-password">
                  Confirm password
                </label>
                <input name="password" type="password"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Password" [(ngModel)]="model.password" />
              </div>
            </div>

            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input id="customCheckLogin" type="checkbox"
                  class="form-checkbox border-0 shadow text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded" />
                <span class="ml-2 text-sm font-semibold text-blueGray-600">
                  I agree with the
                  <a href="javascript:void(0)" class="text-cyan-400 hover:text-cyan-400">
                    Privacy Policy
                  </a>
                  .
                </span>
              </label>
            </div>

            <div class="text-center mt-6">
              <button
                class="bg-slate-800 text-white active:bg-slate-800 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button" (click)="register()">
                Create Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>